<mat-toolbar color="primary" class="d-none d-sm-block">
  <div class="row">
    <!-- Large Screen Version -->
    <div class="d-none d-lg-block col-11">
      <button (click)="navigateTo('home')" class="logo-button">
        <img class="my-1" src="assets/acm-logo.svg" alt="ACM Logo" />
      </button>
      Ohio University Association for Computing Machinery
    </div>
    <!-- Medium Screen Version -->
    <div class="d-none d-sm-block d-lg-none col-10">
      <button (click)="navigateTo('home')" class="logo-button">
        <img class="my-1" src="assets/acm-logo.svg" alt="ACM Logo" />
      </button>
      OU ACM
    </div>
    <div class="col my-3">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon aria-hidden="false" aria-label="Expand Navigation"
          >more_vert</mat-icon
        >
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          aria-label="Home"
          (click)="navigateTo('/home')"
        >
          Home
        </button>
        <button
          mat-menu-item
          aria-label="Members"
          (click)="navigateTo('/members')"
        >
          Members
        </button>
        <button
          mat-menu-item
          aria-label="Events"
          (click)="navigateTo('/events')"
        >
          Events
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<!-- XS Screen Version -->
<mat-toolbar color="primary" class="d-block d-sm-none fs-5">
  <mat-toolbar-row>
    <button (click)="navigateTo('home')" class="logo-button">
      <img class=" mt-2 mb-1 me-2 mobileLogo" src="assets/acm-logo.svg" alt="ACM Logo" />
    </button>    
    OU ACM
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button
      class="mx-3"
      mat-raised-button
      aria-label="Members"
      (click)="navigateTo('/members')"
    >
      Members
    </button>
    <button
      mat-raised-button
      aria-label="Events"
      (click)="navigateTo('/events')"
    >
      Events
    </button>
  </mat-toolbar-row>
</mat-toolbar>
