img {
  height: 85%;
  cursor: pointer;
}

mat-toolbar {
  min-height: 90px;
  // font-family: 'AudioWide'
}

.logo-button {
  all: unset;

}

button:focus {
  outline: revert;
}

.mobileLogo {
  max-height: 56px;
}