<mat-card class="my-1">
  <mat-card-header class="text-center">
    <mat-card-title class="fs-3">{{ member.name }}</mat-card-title>
      <img 
        mat-card-avatar
        src="{{member.photoURL ?? 'assets/Default_pfp.jpg'}}"
        alt="{{member.name}}'s Profile Picture"
      >
  </mat-card-header>
  <mat-card-header>
    <div class="fs-5">
      @if (member.officer) {
        <p>{{member.officer.toUpperCase()}}</p>
      }
      <p>{{member.email}}</p>
      <p>{{gradSemester}} {{member.graduationDate.getFullYear()}}</p>
    </div>
  </mat-card-header>

  <mat-card-content>
    @if (member.employment) {
      <p class="fs-5">Employment: {{member.employment}}</p>
    }
    <p class="fs-6">
      {{member.selfBio}}
    </p>
  </mat-card-content>

  @if (canEdit) {
    <mat-card-actions>
      <button mat-icon-button aria-label="Edit Member" (click)="this.updateFunct.emit()">
        <mat-icon aria-hidden="false" aria-label="Edit Member">edit</mat-icon>
      </button>
    </mat-card-actions>
  }
</mat-card>
