<div class="mx-3">
  <div class="text-center fs-1 my-3">Ohio University ACM</div>

  <!-- Who We Are -->
  <div class="my-3 fs-3">Who We Are</div>
  <div class="my-3 fs-5">
    The Association of Computing Machinery is an international organization for
    advancing technology fields. Here at Ohio University, our local chapter is
    designed to help advance
    <a href="https://www.acm.org/about-acm/mission-vision-values-goals"
      >ACM's Mission</a
    >
    and help students grow. We are a group of students who are passionate about
    technology and helping each other learn more than what is taught in classes.
  </div>

  <!-- What We Do -->
  <div class="text-center my-3 fs-3">What We Do</div>
  <div class="fs-5">
    OU ACM hosts a variety of events each semester. We have weekly meetings
    where we have had guest presentations, programming or job search workshops,
    and social events. In addition, our members are encouraged to participate in
    various additional activities such as hackathons, cybersecurity Capture The
    Flag (CTF) events, and programming competitions.
  </div>

  <!-- ICPC -->
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="assets/icpc.jpg" alt="2024 ICPC Teams" class="img-fluid" />
      <p>
        2024 OU ICPC Participants
      </p>
    </div>
    <div class="col-12 col-md-6 my-3 text-end">
      <div class="fs-3">ICPC</div>
      <div class="fs-5">
        "The International Collegiate Programming Contest is an algorithmic
        programming contest for college students. Teams of three, representing
        their university, work to solve the most real-world problems, fostering
        collaboration, creativity, innovation, and the ability to perform under
        pressure. Through training and competition, teams challenge each other
        to raise the bar on the possible. Quite simply, it is the oldest,
        largest, and most prestigious programming contest in the world." -
        <a href="https://icpc.global/">ICPC</a>
      </div>
    </div>

    <!-- Blossum Hack -->
    <div class="row">
      <div class="col-12 col-md-6 my-3 text-start">
        <div class="fs-3">Blossom Hack</div>
        <div class="fs-5">
          "The first and best hackathon hosted at Ohio University by OUGDA,
          NSBE, SWE, IEEE, and ACM. This event is open to students of all
          backgrounds. Our mission is to provide students with technical and
          professional opportunities outside of the confines of the classroom."
          -
          <a href="https://blossomhack.org/">Blossom Hack</a>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="assets/LukeH.jpeg"
          alt="Blossom Hack"
          class="img-fluid"
        />
        <p>
          Blossom Hack 2023
        </p>
      </div>
    </div>

    <!-- Getting Involved -->
    <div class="test-center my-3 fs-3">How To Get Involved</div>

    <div class="fs-5">
      You can find us meeting every Wednesday at 7:00 PM in ARC 212. Come stop
      by! If you want to get updates, follow us on Bobcat Connect and join our
      Discord server!
    </div>
  </div>
</div>
